<template>
  <div class="about">
    <VideoStream></VideoStream>
  </div>
</template>
<script>
import VideoStream from "@/components/VideoStream";
export default {
  components: {
    VideoStream
  }
};
</script>
