<template>
  <div>
    <div class="garden" ref="garden">
      <div
        class="ball"
        ref="ball"
        :style="{ top: ballTop, left: ballLeft }"
      ></div>
    </div>

    <pre>
      alpha = {{ alpha }},
      beta = {{ beta }},
      gamma = {{ gamma }}
      images : {{ images }}
    </pre>
  </div>
</template>

<script>
// @ is an alias to /src
// import Material from "@/components/Material.vue";

export default {
  name: "home",
  data() {
    return {
      ball: undefined,
      garden: undefined,
      output: undefined,
      maxX: undefined,
      maxY: undefined,
      rotX: undefined,
      rotY: undefined,
      ballTop: undefined,
      ballLeft: undefined,
      alpha: undefined,
      beta: undefined,
      gamma: undefined
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.ball = this.$refs.ball;
      this.garden = this.$refs.garden;
      this.output = this.$refs.output;

      this.maxX = 180;
      this.maxY = 180;

      window.addEventListener("deviceorientation", this.handleOrientation);
    },
    handleOrientation(event) {
      this.rotX = event.beta; // In degree in the range [-180,180]
      this.rotY = event.gamma; // In degree in the range [-90,90]
      this.alpha = event.alpha;
      this.beta = event.beta;
      this.gamma = event.gamma;
      // // Because we don't want to have the device upside down
      // // We constrain the rotX value to the range [-90,90]
      // if (this.rotX > 90) {
      //   this.rotX = 90;
      // }
      // if (this.rotX < -90) {
      //   this.rotX = -90;
      // }

      // // To make computation easier we shift the range of
      // // this.rotX and rotY to [0,180]
      // this.rotX += 90;
      // this.rotY += 90;

      // 10 is half the size of the ball
      // It center the positioning point to the center of the ball
      this.ballTop = (this.maxY * this.rotY) / 180 - 10 + "px";
      this.ballLeft = (this.maxX * this.rotX) / 180 - 10 + "px";
    }
  }
};
</script>
<style lang="scss">
.garden {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid #ccc;
  border-radius: 10px;
}

.ball {
  position: absolute;
  top: 90px;
  left: 90px;
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 100%;
}
</style>
