<template>
  <div class="page">
    <div
      :style="{
        borderRadius: '2rem',
        transform: `rotateX(${alpha * 0.1}deg) rotateZ(${gamma * 0.1}deg)`,
        boxShadow: `${gamma}px ${alpha - 180}px   ${alpha *
          0.1}px 0 rgba(0,0,0,.2)`
      }"
    >
      <div class="card">
        <!-- rotateY(${beta * 0.1}deg) -->
        <marble class="card__bg" :alpha="alpha" :beta="beta" :gamma="gamma" />
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import Marble from "@/components/Marble.vue";

export default {
  name: "home",
  components: {
    Marble
  },
  data() {
    return {
      ball: undefined,
      garden: undefined,
      output: undefined,
      maxX: undefined,
      maxY: undefined,
      rotX: undefined,
      rotY: undefined,
      ballTop: undefined,
      ballLeft: undefined,
      alpha: undefined,
      beta: undefined,
      gamma: undefined
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.ball = this.$refs.ball;
      this.garden = this.$refs.garden;
      this.output = this.$refs.output;

      window.addEventListener("deviceorientation", this.handleOrientation);
    },
    handleOrientation(event) {
      this.alpha = event.alpha;
      this.beta = event.beta;
      this.gamma = event.gamma;

      this.ballTop = (this.maxY * this.rotY) / 180 - 10 + "px";
      this.ballLeft = (this.maxX * this.rotX) / 180 - 10 + "px";
    }
  }
};
</script>
<style lang="scss" scoped>
html,
body {
  padding: 0;
  margin: 0;
}
.page {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgba(black, 0.2);
}
.card {
  width: 80vw;
  max-width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //box-shadow: inset 0 2px 20px 0 rgba(black,.4);
    border-radius: inherit;
  }
}
.card__bg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
</style>
