<template>
  <div>
    cenas
    <tiles :alpha="alpha" :beta="beta" :gamma="gamma" />
  </div>
</template>

<script>
// @ is an alias to /src
import Tiles from "@/components/Tiles.vue";

export default {
  name: "home",
  components: {
    Tiles
  },
  data() {
    return {
      ball: undefined,
      garden: undefined,
      output: undefined,
      maxX: undefined,
      maxY: undefined,
      rotX: undefined,
      rotY: undefined,
      ballTop: undefined,
      ballLeft: undefined,
      alpha: undefined,
      beta: undefined,
      gamma: undefined
    };
  },
  created() {
    this.init();
  },
  methods: {
    init() {
      this.ball = this.$refs.ball;
      this.garden = this.$refs.garden;
      this.output = this.$refs.output;

      window.addEventListener("deviceorientation", this.handleOrientation);
    },
    handleOrientation(event) {
      this.alpha = event.alpha;
      this.beta = event.beta;
      this.gamma = event.gamma;

      this.ballTop = (this.maxY * this.rotY) / 180 - 10 + "px";
      this.ballLeft = (this.maxX * this.rotX) / 180 - 10 + "px";
    }
  }
};
</script>
<style lang="scss">
html,
body {
  padding: 0;
  margin: 0;
}
</style>
