<template>
  <div>
    <div ref="renderer" class="renderer"></div>
  </div>
</template>
<script>
import * as THREE from "three";
import { DoubleSide } from "three";
export default {
  props: {
    alpha: {
      type: Number,
      required: false,
      default: 0
    },
    beta: {
      type: Number,
      required: false,
      default: 0
    },
    gamma: {
      type: Number,
      required: false,
      default: 0
    }
  },
  data() {
    return {
      camera: undefined,
      scene: undefined,
      renderer: undefined,
      geometry: undefined,
      material: undefined,
      mesh: undefined,
      particleLight: undefined,
      images: undefined,
      cameraFeed: undefined,
      video: undefined
    };
  },
  mounted() {
    this.init();
    this.animate();
  },
  methods: {
    init() {
      this.camera = new THREE.PerspectiveCamera(
        70,
        window.innerWidth / window.innerHeight,
        0.01,
        10
      );
      this.camera.position.z = 1;
      this.scene = new THREE.Scene();
      this.geometry = new THREE.PlaneGeometry(1, 1, 2);

      this.images = [
        "https://threejs.org/examples/textures/cube/pisa/px.png",
        "https://threejs.org/examples/textures/cube/pisa/nx.png",
        "https://threejs.org/examples/textures/cube/pisa/py.png",
        "https://threejs.org/examples/textures/cube/pisa/ny.png",
        "https://threejs.org/examples/textures/cube/pisa/pz.png",
        "https://threejs.org/examples/textures/cube/pisa/nz.png"
      ];

      this.material = new THREE.MeshStandardMaterial({
        metalness: 0.7,
        roughness: 0.2,
        color: new THREE.Color("tomato"),
        // color: new THREE.Color("rgb(255, 0, 0)"),
        envMap: new THREE.CubeTextureLoader().load(this.images),
        // roughnessMap: ,
        normalScale: new THREE.Vector2(0.9, 0.9),
        side: DoubleSide
      });
      this.mesh = new THREE.Mesh(this.geometry, this.material);
      // mesh.position.x = -100;
      // mesh.position.y = 100;
      this.scene.add(this.mesh);
      // LIGHTS
      this.particleLight = new THREE.Mesh(
        new THREE.SphereBufferGeometry(0.1, 0.1, 0.8),
        new THREE.MeshBasicMaterial({ color: 0xffffff })
      );
      this.scene.add(this.particleLight);

      this.particleLight.add(new THREE.PointLight(0xffffff, 1));
      this.particleLight.position.z = 10;
      this.renderer = new THREE.WebGLRenderer({ antialias: true });
      this.renderer.setSize(window.innerWidth, window.innerHeight);
      this.renderer.setPixelRatio(window.devicePixelRatio);
      this.$refs.renderer.appendChild(this.renderer.domElement);

      //
      this.renderer.toneMapping = THREE.ACESFilmicToneMapping;
      this.renderer.toneMappingExposure = 1;
      //
      this.renderer.gammaOutput = true;
      //
    },
    animate() {
      requestAnimationFrame(this.animate);
      // this.particleLight.position.x = this.alpha;
      // this.particleLight.position.y = this.beta;
      this.mesh.rotation.x = this.beta * (Math.PI / 180);
      this.mesh.rotation.z = this.alpha * (Math.PI / 180);
      this.mesh.rotation.y = this.gamma * (Math.PI / 180);

      this.particleLight.position.y = this.beta;
      this.particleLight.position.x = -this.gamma;
      this.renderer.render(this.scene, this.camera);
    }
  }
};
</script>
