<template>
  <div>
    <video ref="videoStream" autoplay></video>
    <select name="videoOptions" ref="videoOptions" id="">
      <template v-for="videoDevice in videoOptions">
        <option :key="videoDevice.deviceId" :value="videoDevice.deviceId">{{
          videoDevice.label
        }}</option>
      </template>
    </select>
  </div>
</template>
<script>
export default {
  data() {
    return {
      videoStream: undefined,
      constraints: undefined,
      videoOptions: undefined,
      stream: undefined
    };
  },
  mounted() {
    this.initVideo();
  },
  methods: {
    async getCameraSelection() {
      const devices = await navigator.mediaDevices.enumerateDevices();
      const videoDevices = devices.filter(
        device => device.kind === "videoinput"
      );
      this.videoOptions = videoDevices;
    },
    initVideo() {
      this.video = this.$refs.videoStream.el;
      this.constraints = {
        video: {
          width: {
            min: 1280,
            ideal: 1920,
            max: 2560
          },
          height: {
            min: 720,
            ideal: 1080,
            max: 1440
          }
        }
      };
      if (
        "mediaDevices" in navigator &&
        "getUserMedia" in navigator.mediaDevices
      ) {
        this.stream = async constraints => {
          await navigator.mediaDevices.getUserMedia(constraints);
        };
        this.video = this.stream;
      }
      this.getCameraSelection();
    }
  }
};
</script>
